.appear {
  transform: translate(100%);
}

.appear.appear-active {
  transform: translate(0%);
}

.enter {
  transform: translate(100%);
}

.enter.enter-active {
  transform: translate(0%);
}

.leave {

}

.leave.leave-active {
  transform: translate(-100%);
}

.hide {

}

.hide.hide-active {
  transform: translate(-100%);
}