.example {
  margin: auto;
  width: 500px;
}

.control-panel {
  padding: 5px;
  border: 1px solid black;
}

.stylist {
  display: block;
  margin: auto;
  width: 80px;
  padding: 3px;
  background-color: black;
}

.item {
  cursor: pointer;
  background-color: rgb(231, 231, 231);
}